<footer>
  <div class="content-padding">
    <div class="footer-cotent">
      <p>Copyright &copy; Olabode Olaniyi David 2019</p>
      <div class="social-media-icons">
        <a href="#"><i class="fa fa-chess-king"></i> </a>
        <a href="#"><i class="fa fa-chess-queen"></i> </a> 
      </div>
    </div>
  </div>

</footer>
