<meta charset="utf-8">
<title><%= title %></title>
<link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css">
<link rel="stylesheet" href="/fontawesome/fontawesome-all.css">
<link rel="stylesheet" href="/stylesheets/styles.css">
